resource_group_name="southcentral-rg"
databricks_workspace_name="dev-southcentral-ws"
managed_rg="dev-southcentral-mrg"
ws_managed_storage_account_name="devmrgsa"
location="southcentralus"
prefix="dev-tf-southcentralus"
cidr="10.0.0.0/20"

#tags
email="username@domain.com"
remove_date="2024-12-31"
description="Demo-with-terraform"