# Region you want your workspace and azure infrastructure to be provisioned in
location="southcentralus"

# We will use this prefix to dynamically generate a unique name for every object created in azure. Do not add any special characters or spaces.
prefix="usernametf"

cidr="10.0.0.0/20"

#tags
email="username@domain.com"
remove_date="2024-6-31"
description="Demo-with-terraform"