#resource_group_name="southcentral-rg"
#databricks_workspace_name="southcentral-ws"
#managed_rg="southcentral-mrg"
#ws_managed_storage_account_name="mrgsa"
location="southcentralus"
prefix="tobotf"
cidr="10.0.0.0/20"

#tags
email="username@domain.com"
remove_date="2024-12-31"
description="Demo-with-terraform"